<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:User="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout.html}">
<head>
    <title>Products</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="container">
        <h1>Products</h1>
        <span sec:authorize="isAuthenticated()" style="display: inline-block;" class="glyphicon glyphicon-user">
                     <span sec:authentication="name"></span> |
                    Role: <span sec:authentication="principal.authorities"></span> |
            <a th:href="@{/logout}" class="btn btn-primary">Sign Out</a>
                </span><br/><br/>
    </div>
            <table class="table table-striped">
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
                <tr th:each = "product : ${products}">
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.category}"></td>
                    <td th:text="${product.quantity}"></td>
                    <td th:text="'$' + ${product.price}"></td>
                    <td>
                        <a th:href="@{/delete/{id}(id=${product.id})}" class="btn btn-danger">Delete</a>
                        <a th:href="@{/edit/{id}(id=${product.id})}" class="btn btn-primary">Edit</a>
                    </td>
                </tr>
            </table>
            <a href="/add" class="btn btn-success">Add Student</a>
</div>
</body>
</html>